<%- include('../partials/header') %>

<section id="show-page">
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Departure: </div>
    <div><%= flight.departs %></div>
</section>

<div>Tickets</div>
<% tickets.forEach((ticket) => { %>
<% if (!flight?.destination?[0].arrival) { %>
    <form id="add-arrival-info" action="/flights/<%= flight._id %>/destinations" method="POST">
        <label>Destination:</label>
        <select name="destination">
            <option value="">select destination</option>
            <option value="ORD">Orlando</option>
            <option value="DFW">Dallas/Ft. Worth</option>
            <option value="SAN">San Diego</option>
            <option value="SEA">Seattle</option>
            <option value="MCO">Orlando</option>
        </select>
        <label>Arrival:</label>
        <input type="text" name="arrival"></input>
        <input type="submit" value="Add Arrival Info"></input>

    </form>
<% }}) %>

<%- include('../partials/footer') %>